.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
img{
    width: 30%;
    height: 30%;
    margin:15px;
    transition: all 0.7s;
}
img:hover{
    transform: scale(1.05);
}

p{
    margin-: 0px 100px 0px 100px
}

.vidus{
    text-align: center
}
.text{
    display: inline-block;
}
h1{
    font-size: 500%;
}

.vidus{
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;
}

p{
    margin-right: 10px 10px 10px 0px;
    margin: 50px;
}
span{
    text-decoration: none;
    margin: 150px 30px 30px 0px;
}

h4{
    margin: 0;
    padding: 0;
    color:gray
}

.asd{
    text-decoration: none;
}
